In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('등록외국인_현황_시도_시_군_구__20200727094504.xls', header=[0], index_col=[0,1])
df.head()

FileNotFoundError: [Errno 2] No such file or directory: '등록외국인_현황_시도_시_군_구__20200727094504.xls'

In [27]:
df = df.rename(index={'전국':'합계', '서울특별시':'서울시', '부산광역시':'부산시', 
                '대구광역시':'대구시', '인천광역시':'인천시', '광주광역시':'광주시',
                '대전광역시':'대전시', '울산광역시':'울산시', '세종특별자치시':'세종시',
                '경기도':'경기', '강원도':'강원','충청북도':'충북','충청남도':'충남',
                '전라북도':'전북','전라남도':'전남','경상북도':'경북','경상남도':'경남',
                '제주특별자치도':'제주'})

In [3]:
df.head()

NameError: name 'df' is not defined

In [29]:
df = df.rename(index={'소계':'합계'})

In [30]:
df = df.sort_index()

In [31]:
df= df.astype('int')

In [34]:
df = df.xs('합계',level=1)

In [41]:
indexs = []
for index in df.index:
    index = index[:2]
    indexs.append(index)
indexs

['강원',
 '경기',
 '경남',
 '경북',
 '광주',
 '대구',
 '대전',
 '부산',
 '서울',
 '세종',
 '울산',
 '인천',
 '전남',
 '전북',
 '제주',
 '충남',
 '충북',
 '합계']

In [43]:
df.index = indexs
df

,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
강원,7989,10252,11994,12892,12672,13737,13332,12901,13409,14443,15108,15833,16949,18261,19069
경기,155942,200798,234030,256827,266808,285262,302447,288251,314715,352166,369665,373923,381628,408526,414318
경남,26679,35953,42389,51707,53222,57718,65960,64371,69126,77778,82316,81021,75136,74304,76123
경북,23409,29721,33721,35731,35350,36895,39984,40067,43499,47805,49765,51351,53364,56969,58119
광주,6361,8155,10016,11923,12188,13360,14106,14492,15557,17064,18455,19920,21279,22815,23825
대구,14530,17104,19409,19877,19406,20401,22014,21922,23302,25203,26141,26493,26442,28033,30191
대전,7897,9803,12177,14056,14485,14876,15047,14571,14798,15658,16416,17035,17431,18184,19109
부산,19547,23397,27662,31499,31310,32471,35116,35049,35943,38315,39991,41840,42837,45738,45999
서울,129660,175036,229072,255207,255749,262902,279220,247108,244410,266360,274957,273441,267153,283984,281876
세종,0,0,0,0,0,0,0,2360,2475,2730,3481,3745,4125,4940,5700
울산,7457,10494,12804,14472,14961,16043,18421,19247,22427,25885,26183,23457,20513,20002,20450
인천,31683,39463,45464,48521,47852,49992,50217,47305,50382,55323,57669,59103,62596,67869,72259
전남,9260,11903,15126,19690,21149,21970,23797,23602,24544,28254,30566,31750,31221,33042,34638
전북,10165,13475,16151,18749,19919,20152,21851,22030,23067,25086,26194,27320,28588,31347,33074
제주,2178,3199,4130,4902,5250,5932,7128,8736,10864,14204,16960,19593,21689,24841,25668
충남,19849,26411,30553,35254,37667,42753,48091,46141,49924,54557,56583,60353,64155,68234,70675
충북,12871,17326,20731,22700,22648,24453,25730,24830,27481,30700,32637,35499,36656,39537,40714
합계,485477,632490,765429,854007,870636,918917,982461,932983,985923,1091531,1143087,1161677,1171762,1246626,1271807

In [44]:
df.to_excel('시도별_등록외국인수_2005_2019.xls')