In [2]:
import pandas as pd

In [75]:
df = pd.read_excel('재정자립도_시도_시_군_구__20200727100514.xls', header=[0,1], index_col=[0,1])
df.head()

                    2005           2006           2007           2008  \
          재정자립도(세입과목개편전) 재정자립도(세입과목개편전) 재정자립도(세입과목개편전) 재정자립도(세입과목개편전)
전국    소계            56.2           54.4           53.6           53.9
서울특별시 소계            96.1           94.3           90.5           88.3
      종로구           73.8           77.2           69.8           72.2
      중구            92.5           74.4           83.0           86.0
      용산구           55.3           53.5           53.0           70.2

                    2009           2010           2011           2012  \
          재정자립도(세입과목개편전) 재정자립도(세입과목개편전) 재정자립도(세입과목개편전) 재정자립도(세입과목개편전)
전국    소계            53.6           52.2           51.9           52.3
서울특별시 소계            92.0           85.8           90.3           90.2
      종로구           81.2           78.5           72.1           65.7
      중구            85.7           82.9           77.1           76.9
      용산구           60.4           62.7           63.8           61.6

                    2013           2014  ...           2015                 \
          재정자립도(세입과목개편전) 재정자립도(세입과목개편전)  ... 재정자립도(세입과목개편전) 재정자립도(세입과목개편후)
전국    소계            51.1           50.3  ...           50.6           45.1
서울특별시 소계            88.8           84.2  ...           84.3           80.3
      종로구           61.0           61.1  ...           56.2           50.0
      중구            70.9           71.6  ...           65.7           58.6
      용산구           55.4           51.2  ...           47.9           40.1

                    2016                          2017                 \
          재정자립도(세입과목개편전) 재정자립도(세입과목개편후) 재정자립도(세입과목개편전) 재정자립도(세입과목개편후)
전국    소계            52.5           46.6           53.7           47.2
서울특별시 소계            84.7           80.7           85.0           80.5
      종로구           54.6           50.4           54.9           50.8
      중구            65.2           57.1           62.4           58.4
      용산구           47.1           41.0           48.7           42.4

                    2018                          2019
          재정자립도(세입과목개편전) 재정자립도(세입과목개편후) 재정자립도(세입과목개편전) 재정자립도(세입과목개편후)
전국    소계            53.4           46.8           51.4           44.9
서울특별시 소계            84.3           79.2           82.2           76.5
      종로구           52.7           47.4           53.6           47.4
      중구            63.3           53.4           66.0           54.9
      용산구           46.2           41.1           46.5           39.2

[5 rows x 21 columns]

In [76]:
df = df.rename(index={'전국':'합계', '서울특별시':'서울시', '부산광역시':'부산시', 
                '대구광역시':'대구시', '인천광역시':'인천시', '광주광역시':'광주시',
                '대전광역시':'대전시', '울산광역시':'울산시', '세종특별자치시':'세종시',
                '경기도':'경기', '강원도':'강원','충청북도':'충북','충청남도':'충남',
                '전라북도':'전북','전라남도':'전남','경상북도':'경북','경상남도':'경남',
                '제주특별자치도':'제주'})

In [77]:
df.head()

                  2005           2006           2007           2008  \
        재정자립도(세입과목개편전) 재정자립도(세입과목개편전) 재정자립도(세입과목개편전) 재정자립도(세입과목개편전)
합계  소계            56.2           54.4           53.6           53.9
서울시 소계            96.1           94.3           90.5           88.3
    종로구           73.8           77.2           69.8           72.2
    중구            92.5           74.4           83.0           86.0
    용산구           55.3           53.5           53.0           70.2

                  2009           2010           2011           2012  \
        재정자립도(세입과목개편전) 재정자립도(세입과목개편전) 재정자립도(세입과목개편전) 재정자립도(세입과목개편전)
합계  소계            53.6           52.2           51.9           52.3
서울시 소계            92.0           85.8           90.3           90.2
    종로구           81.2           78.5           72.1           65.7
    중구            85.7           82.9           77.1           76.9
    용산구           60.4           62.7           63.8           61.6

                  2013           2014  ...           2015                 \
        재정자립도(세입과목개편전) 재정자립도(세입과목개편전)  ... 재정자립도(세입과목개편전) 재정자립도(세입과목개편후)
합계  소계            51.1           50.3  ...           50.6           45.1
서울시 소계            88.8           84.2  ...           84.3           80.3
    종로구           61.0           61.1  ...           56.2           50.0
    중구            70.9           71.6  ...           65.7           58.6
    용산구           55.4           51.2  ...           47.9           40.1

                  2016                          2017                 \
        재정자립도(세입과목개편전) 재정자립도(세입과목개편후) 재정자립도(세입과목개편전) 재정자립도(세입과목개편후)
합계  소계            52.5           46.6           53.7           47.2
서울시 소계            84.7           80.7           85.0           80.5
    종로구           54.6           50.4           54.9           50.8
    중구            65.2           57.1           62.4           58.4
    용산구           47.1           41.0           48.7           42.4

                  2018                          2019
        재정자립도(세입과목개편전) 재정자립도(세입과목개편후) 재정자립도(세입과목개편전) 재정자립도(세입과목개편후)
합계  소계            53.4           46.8           51.4           44.9
서울시 소계            84.3           79.2           82.2           76.5
    종로구           52.7           47.4           53.6           47.4
    중구            63.3           53.4           66.0           54.9
    용산구           46.2           41.1           46.5           39.2

[5 rows x 21 columns]

In [78]:
df = df.rename(index={'소계':'합계'})

In [79]:
df = df.sort_index()

In [80]:
df = df.astype('float')

In [81]:
df = df.xs('재정자립도(세입과목개편전)',axis=1,level=1)

In [82]:
df

           2005  2006  2007  2008  2009  2010  2011  2012  2013  2014  2015  \
강원 강릉시     33.4  26.5  25.8  23.9  22.9  24.3  23.1  21.5  21.3  20.0  20.3
   고성군     17.5  14.0  13.7  14.6  12.6  13.3  13.8   9.8  11.8  10.9  13.4
   동해시     21.9  21.2  21.2  22.0  17.6  18.5  17.8  17.5  17.5  19.5  19.5
   삼척시     13.9  13.4  15.0  16.2  15.6  16.7  15.9  16.2  17.1  21.4  18.0
   속초시     30.1  26.5  26.3  22.0  23.6  24.1  23.1  20.3  19.7  21.0  20.0
...         ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
충북 충북 청원군  28.1  28.1  30.1  34.2  35.8  37.5  32.0  33.2  32.2  32.6   0.0
   충북 청주시  55.1  47.4  48.1  43.2  43.2  44.0  37.8  38.3  36.4  36.0   0.0
   충주시     21.2  20.7  20.9  20.9  20.1  20.3  20.7  18.5  18.8  18.8  19.9
   합계      31.7  31.3  33.3  34.2  33.3  33.7  32.7  34.2  34.2  33.6  34.8
합계 합계      56.2  54.4  53.6  53.9  53.6  52.2  51.9  52.3  51.1  50.3  50.6

           2016  2017  2018  2019
강원 강릉시     19.7  23.7  22.4  20.9
   고성군     13.7  14.9  14.8  14.3
   동해시     19.9  20.9  21.2  20.1
   삼척시     20.5  17.7  18.4  17.4
   속초시     25.2  23.7  22.6  23.2
...         ...   ...   ...   ...
충북 충북 청원군   0.0   0.0   0.0   0.0
   충북 청주시   0.0   0.0   0.0   0.0
   충주시     19.4  22.9  19.7  20.7
   합계      35.2  38.1  37.4  35.9
합계 합계      52.5  53.7  53.4  51.4

[253 rows x 15 columns]

temp = [df.index.get_level_values(0)[n] + " " + df.index.get_level_values(1)[n].split(' ')[1] for n in range(len(df.index))]
# df_index = []
# for index in temp:
#     if index.split(' ')[0] == index.split(' ')[1]:
#         a = []
#         for i in range(1,len(index.split(' '))):
#             a.append(index.split(' ')[i])
#         index = ' '.join(a)
#     df_index.append(index)
# df_index

[df.index.get_level_values(1)[n].split(' ')[0] for n in range(len(df.index))]

In [84]:
df = df.xs('합계', level=1)

In [85]:
indexs = []
for index in df.index:
    index = index[:2]
    indexs.append(index)
df.index = indexs
df

,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
강원,27.5,26.7,28.3,28.2,28.0,27.1,27.5,26.9,26.6,26.6,25.9,27.1,29.1,28.7,28.6
경기,76.2,75.2,74.9,76.3,75.9,72.8,72.5,72.6,71.6,67.7,66.6,67.4,70.1,69.9,68.4
경남,37.5,38.8,39.1,39.4,39.4,42.9,42.6,43.3,41.7,42.4,43.3,43.5,45.0,44.7,40.5
경북,29.6,27.8,28.9,28.7,27.7,29.3,28.1,28.3,28.0,29.1,30.0,33.3,32.7,33.3,31.9
광주,60.6,57.5,54.2,52.6,48.3,47.5,47.5,46.6,45.4,46.0,49.3,51.5,49.2,49.0,46.8
대구,73.9,70.7,63.9,59.5,54.7,56.3,53.5,52.8,51.8,51.7,53.1,57.1,56.6,54.2,51.6
대전,75.0,72.8,72.1,66.4,59.3,56.3,57.2,58.3,57.5,54.9,54.9,55.0,57.1,54.4,48.2
부산,73.4,70.2,62.9,60.5,58.3,57.6,56.4,57.4,56.6,57.4,56.8,60.1,60.1,58.7,56.7
서울,96.1,94.3,90.5,88.3,92.0,85.8,90.3,90.2,88.8,84.2,84.3,84.7,85.0,84.3,82.2
세종,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,38.8,50.6,54.8,59.0,70.5,69.2,72.7
울산,69.9,65.7,68.4,69.9,67.7,67.2,69.1,71.2,70.7,70.2,72.0,72.2,69.9,66.0,59.7
인천,70.0,69.2,69.8,71.0,74.2,70.4,69.3,71.0,67.3,66.9,64.4,67.0,65.4,67.0,64.6
전남,19.9,20.2,20.1,21.4,19.4,20.6,20.7,21.4,21.7,22.2,22.8,23.8,26.2,26.4,25.7
전북,25.1,23.9,23.5,22.6,23.6,24.6,24.5,26.0,25.7,27.0,27.6,29.7,28.6,27.9,26.5
제주,39.3,33.8,26.4,26.3,25.2,26.1,25.1,28.5,30.6,34.0,36.4,38.2,39.6,42.5,36.5
충남,32.7,35.3,36.9,37.8,36.6,36.6,35.4,35.5,36.0,35.6,35.2,38.7,39.3,38.9,37.8
충북,31.7,31.3,33.3,34.2,33.3,33.7,32.7,34.2,34.2,33.6,34.8,35.2,38.1,37.4,35.9
합계,56.2,54.4,53.6,53.9,53.6,52.2,51.9,52.3,51.1,50.3,50.6,52.5,53.7,53.4,51.4

In [86]:
df.to_excel('시도별_재정자립도_2005_2019.xls')